.contactus {
  padding-top: 120px;

  &__bigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__headbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__title {
    width: 350px;
    border-right: 3px solid #e94a46;
    font-weight: 600;
    font-size: 31px;
    line-height: 145%;
    text-align: right;
    color: #323131;
    padding-right: 20px;
  }

  &__text {
    width: 240px;
    font-size: 16px;
    line-height: 150%;
    color: #8d8d8d;
    padding-left: 20px;
  }

  &__box {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__imgbox {
    position: relative;
    width: 404px;
    height: 258px;

    & img {
      object-fit: cover;
    }
  }

  &__form {
    max-width: 438px;
    width: 100%;
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(123, 123, 123, 0.1);
    padding: 10px;
  }

  &__label {
    display: block;
    border-bottom: 1px solid #8d8d8d2b;
    margin: 0 10px;
    margin-bottom: 15px;
  }

  &__label-error {
    border-color: #e94a46;

    & > input {
      color: #e94a46;

      &::placeholder {
        color: #e94a46;
      }
    }
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 150%;
    color: #8d8d8d;
    padding: 5px 0;
    outline: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #e94a46;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    padding: 12px 0;
    transition: all 0.4s ease;

    &:hover {
      opacity: 0.9;
    }

    & svg {
      font-size: 20px;
      margin-left: 10px;
    }
  }

  &__error {
    display: block;
    font-size: 14px;
    color: #e94a46;
    transform: translateY(-8px);
    padding-left: 10px;
  }

  &__success,
  &__desc {
    font-size: 14px;
    line-height: 125%;
    color: #008000;
    margin-bottom: 15px;
    animation: success 0.5s ease;
  }

  &__desc {
    color: #323131;
  }
}

@media screen and (max-width: 960px) {
  .contactus {
    padding-top: 90px;

    &__title {
      font-size: 26px;
    }

    &__text {
      font-size: 14px;
    }

    &__form,
    &__imgbox {
      width: 48%;
    }
  }
}

@media screen and (max-width: 576px) {
  .contactus {
    padding-top: 60px;

    &__headbox {
      margin-bottom: 20px;
    }

    &__title {
      width: 48%;
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      padding-right: 10px;
    }

    &__text {
      width: 45%;
      font-size: 11px;
      padding-left: 10px;
    }

    &__imgbox {
      display: none;
    }

    &__form {
      max-width: 100%;
      width: 100%;
    }

    &__input {
      font-size: 14px;
    }

    &__error {
      font-size: 11px;
    }
  }
}


@keyframes success {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
