.calculation {
  padding-top: 100px;

  &__bigbox {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 153px;
  }

  &__title {
    width: 33%;
    border-left: 3px solid #e94a46;
    font-weight: 500;
    font-size: 25px;
    line-height: 145%;
    color: #323131;
    padding-left: 30px;
    margin-bottom: 10px;

    & > span {
      color: #e94a46;
    }
  }

  &__imgbox {
    position: relative;
    width: 438px;
    height: 256px;
  }
}

@media screen and (max-width: 960px) {
  .calculation {
    padding-top: 60px;

    &__bigbox {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      padding-left: 0;
    }

    &__title {
      width: 56%;
      font-size: 20px;
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  .calculation {
    padding-top: 40px;

    &__title {
      width: 85%;
      font-size: 18px;
      padding-left: 10px;
    }

    &__imgbox {
      width: 260px;
      height: 144px;
    }
  }
}
