.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 80px;

  &__videobox {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__bigbox {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 50px;
    padding-left: 153px;
    z-index: 2;
  }

  &__box {
    width: 63%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descbox {
    border-left: 3px solid #e94a46;
    padding-left: 30px;
    margin-bottom: 60px;
  }

  &__title {
    font-size: clamp(3rem, 4.5vw, 4.9rem);
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;

    & span {
      color: #e94a46;
    }
  }

  &__desc {
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 145%;
    color: #fff;
  }

  &__pricebox {
    display: flex;
    gap: 30px;
  }

  &__telbtn,
  &__pricebtn {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    line-height: 145%;
    color: #323131;
    padding: 10px 20px;
    transition: all 0.4s ease;

    & svg {
      font-size: 18px;
      margin-left: 10px;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &__pricebtn {
    background-color: transparent;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #323131;
    }
  }

  &__list {
    display: flex;
    gap: 60px;
  }

  &__infobox {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    font-weight: 500;
    font-size: 25px;
    line-height: 145%;
    color: #fff;
  }

  &__info-marka {
    padding-left: 10px;

    & > span {
      display: block;
      font-size: 16px;
      line-height: 150%;
      color: #e94a46;
    }

    & > p {
      font-size: 13px;
      line-height: 160%;
      color: #fff;
    }
  }

  &__item-price {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
  }

  &__telbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__tel {
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.4s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__down {
    position: absolute;
    bottom: 10;
    right: 0;
    font-size: 30px;
    color: #fff;
  }
}

@media screen and (max-width: 1040px) {
  .hero {
    &__box {
      width: 80%;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;

    &__bigbox {
      height: auto;
      padding-left: 0;
    }

    &__telbox {
      display: none;
    }

    &__bg {
      display: none;
    }

    &__box {
      width: 100%;
      margin-bottom: 40px;
    }

    &__title {
      color: #323131;
    }

    &__desc {
      width: 62%;
      color: #323131;
    }

    &__pricebox {
      margin-bottom: 30px;
    }

    &__telbtn,
    &__pricebtn {
      background-color: #e94a46;
      border-color: #e94a46;
      color: #fff;

      &:hover {
        color: #e94a46;
      }
    }

    &__pricebtn {
      background: transparent;
      color: #e94a46;

      &:hover {
        background-color: #e94a46;
        color: #fff;
      }
    }

    &__videobox {
      position: static;
      height: 363px;
    }

    &__list {
      display: flex;
    }

    &__info {
      font-size: 20px;
      color: #323131;
    }

    &__info-marka {
      display: flex;
      align-items: center;
      gap: 5px;

      & > span {
        font-size: 13px;
      }

      & > p {
        color: #323131;
      }
    }

    &__item-price {
      font-size: 13px;
      color: #323131;
    }

    &__down {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .hero {
    &__descbox {
      padding-left: 15px;
      margin-bottom: 20px;
    }

    &__desc {
      width: 100%;
    }

    &__videobox {
      height: 204px;
    }

    &__pricebox {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    &__telbtn,
    &__pricebtn {
      display: flex;
      justify-content: center;
    }

    &__list {
      gap: 30px;
    }

    &__info {
      font-size: 14px;
    }

    &__info-marka {
      padding-left: 5px;
      & > span {
        font-size: 8px;
      }

      & > p {
        font-size: 8px;
      }
    }

    &__item-price {
      font-size: 8px;
    }
  }
}
